ENVIRONMENT     = 
ENV_DEVELOPMENT = LOCAL
PORT            = 3001
URL             = http://localhost


DATABASE_HOST     = 
DATABASE_PORT     = 
DATABASE_USER     = 
DATABASE_PASSWORD = 
DATABASE          = auth

JWT_SECRET_KEY = your_jwt_secret_key

SECRET_PRIVATE = '-----BEGIN RSA PRIVATE KEY-----
MIIEowIBAAKCAQEApVzsYxyqdd8304r2rxZjDMUI1B7nGpjuQMlVdSwv/8nB5gH9
0Q79+uTOj/5Ib73mCQQqAxQaNdwvgoWafxWjBg2PyescZQTWd70J9RMPRMbe2gv+
WsOWZ7AD++deKNN0KIQcbYFTvuPTAKvmCQ9ui/sB44bSmTEkk4G1PsGtN+7HxV63
T/UafmC2Ma4xy0k7eqTbzL0AmmZkaLVeprHtQp3voZ9A32+wfFplgMxnTX6Qiyfn
O/XXR3234S/DPk/dCf2DBnwhM8MfIGlhjf6ZZLpC+dZlfXFR1GJzrnWrQvIKDg1K
o4HEF1FULl6sxQll+pD1ZI5qQCw09XOLujbzLwIDAQABAoIBAHqTFbol7ojvDE+n
a1G/k25Mw02RFpeVks29L7ZqKa4+HJdlFIKZzVPjtOXxhDooFlLKnmWnygHwk9r5
M9tN64i6FsKCn4qV+m/JVY8vMJs3mssgJsuavWtggqOADkDO9QRvYS8etTgDYk3W
He7LXJMwXWcNciAR2F3qwLGjGMYi60FlTcV49Fg6mrtCcfFJ0DeC4aclAz4oXQez
69165nRopuHYhPdlAPERjVnb0R0eglgC3rg8WSYi60OqN2M0lj0FVUpNSH1PS5gS
z308qQm+6/vkNnD48YcGKTETWoBvSTiuzZv3oyViJZ83jJWMRR3BPw+bFNl1eZgJ
jb9THbkCgYEA5mGmuZjSQ4znlwUyoIwH8fM6UgkPGZuCrLhgyp7FqKQ/YHsfnDLf
XhfDoq7BJCAbCLVyUatD2Y7gTxqqW4fgEsV4wQ6EygcxaFhEwjpLZZlwHRbIA9/9
zSFQPbIxXoLSYI9wjXKwX4+3/YF/VYnko4FKDSPMzRpJ8Ejf4NizFBUCgYEAt8Be
aim/6/qspla2ssevcEE47CPm2GsosUkh/vvouiNYmlHVxfgK8+vjN8UvVC7khYIS
XCJ+WcKl7apV+3LF4/cQ2PfB9CAuXRPw9brUHE365bvZG4QAYxrbBlW+m6k8+sfo
yRX05lhShf7xX/vNQG57iupmXudnXyr1+z1/5zMCgYBTl/NLPOxunl4aKkSohKcN
X9g1lBvqisbrrStR2jKWcqKce5CIuNzb43uVOBvU4+FrU4tbnu1Lr9AsY9yUwcTI
iua6Bm6gb+O5nO22HDjncLmBlJaW8VvCZugauuG3DXkQmHual5bv1dJJJgfyHcrc
mTkpc2gItBVIHuk9SOQR0QKBgHldT37jMGYWXW5IG8edaFzGV2hwlgofTPM7kH6v
t5kpu13B62YkXGebR6oQTSBXEIy1ypacGcQDckC1nrDDr7zP9Iq5qZsqnjTP9Pj4
exxuzOZr2gv4daD/neZjP8/kSeiBnVkjbWuurmLebmKtF3YVAvhPtWm9gWM0Jt/Y
UOBNAoGBANJtjn+9Ly8hkEzR4c0De/4xd6Qa4Ave33rLwaO1k2Ad/Cg7oIc+u09S
VTq0cLz7K0HTT+jRtqrQc+SRkCL2+K3XweFSgprlN1K29n9Oa+g5Zi2dpqAN4bJb
6AKJflY77XIRTeMOXUuHLBtn3lpVPQ1eh6fXTfzTq3vBlfBP3FOm
-----END RSA PRIVATE KEY-----'

SECRET_PUBLIC = '-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEApVzsYxyqdd8304r2rxZj
DMUI1B7nGpjuQMlVdSwv/8nB5gH90Q79+uTOj/5Ib73mCQQqAxQaNdwvgoWafxWj
Bg2PyescZQTWd70J9RMPRMbe2gv+WsOWZ7AD++deKNN0KIQcbYFTvuPTAKvmCQ9u
i/sB44bSmTEkk4G1PsGtN+7HxV63T/UafmC2Ma4xy0k7eqTbzL0AmmZkaLVeprHt
Qp3voZ9A32+wfFplgMxnTX6QiyfnO/XXR3234S/DPk/dCf2DBnwhM8MfIGlhjf6Z
ZLpC+dZlfXFR1GJzrnWrQvIKDg1Ko4HEF1FULl6sxQll+pD1ZI5qQCw09XOLujbz
LwIDAQAB
-----END PUBLIC KEY-----'